assets/logs/*
assets/env_settings/*
assets/results/* 
assets/data/*
assets/animations/*
assets/scalers/*
assets/RESULTS_IMAGES/*
.DS_Store
.vscode
MV_MTSP.egg-info 
resources 
tspenv
mac_env
test
dummy_app/models/__pycache__
dummy_app/tools/__pycache__
dummy_app/designs/__pycache__
thesis 
mvmtsp_experimentation_log_indi.txt 
mvmtsp_experimentation_log_coop.txt 
*.log
*.gif
*.mp4
*.ipynb
*.csv
*.png
from dummy_app.tools.py

