assets/logs/*
assets/env_settings/*
assets/results/* 
assets/data/*
MV_MTSP.egg-info 
resources 
tspenv
dummy_app/models/__pycache__
dummy_app/tools/__pycache__
dummy_app/designs/__pycache__
goddly.mp4 
output.gif
simulation_output.mp4 
gif.ipynb 
test_simulation.ipynb
thesis 
.vscode
assets/scalers/*
.DS_Store
