deap 
geopandas 
k_means_constrained
matplotlib 
memory_profiler 
networkx
numpy 
pandas 
psutil
PuLP 
scikit-learn 
scipy 
Shapely
simpy 
timeout_decorator 
tqdm 
requests 
seaborn 
python-gnupg 
ipykernel
geopy 
notebook
jupyterlab
pyproj

